/FlugdatenBean/build/
/FlugdatenBean/dist/
/FlugdatenClient/build/
/FlugdatenClient/dist/
/Projektarbeit/nbproject/private/
/Projektarbeit/Projektarbeit-war/nbproject/private/
/Projektarbeit/Projektarbeit-ejb/nbproject/private/
/Projektarbeit/build/
/Projektarbeit/dist/